@import "tailwindcss";
@import "../styles/typography.css";
@import "../styles/colors.css";
@import "../styles/components.css";
@import "../styles/shadows.css";

:root {
  --background: #ffffff;
  --foreground: var(--color-grey-900);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}

input::-ms-reveal,
input::-ms-clear,
input::-webkit-credentials-auto-fill-button,
input::-webkit-clear-button,
input[type="password"]::-webkit-textfield-decoration-container {
  display: none !important;
}